{% extends "base.html" %}
{% load helpers_content %}
{% block content %}
	<div class="page-header">
  		<h1>{{ race.name }}<br/><small>{{ race.city }} le {{ race.date_start }}</small></h1>
	</div>

	<p>{{ race.description }}</p>

	{% for route in routes %}
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">Parcours {{ route.distance_meter|get_race_name }}</h3>
			</div>
			<div class="panel-body">
				{% include "content/includes/map/mapHtml.html" with route=route%}    
		    	<ul>
					<li>Participants : {{ route.max_runner_number }} </li>
					<li>Temps maximum : {{ route.max_time }} secondes</li>
					<li>Tarif : {{ route.price }} euros</li>
				</ul>
		  	</div>
		</div>
	{% endfor %}
	{% include "content/includes/map/mapJs.html" with routes=routes %}    

{% endblock %}