{% extends "base.html" %}
{% block content %}
	<h1>{{ race.name }}</h1>
	<h3>{{ race.city }} le {{ race.date_start }}</h3>
	<p>{{ race.description }}</p>

	{% for route in routes %}
    	<h3>Parcours {{ route.distance_meter }}mètres</h3>
    	<ul>
			<li>Participants : {{ route.max_runner_number }} </li>
			<li>Temps maximum : {{ route.max_time }} secondes</li>
			<li>Tarif : {{ route.price }} euros</li>
		</ul>
		<iframe src="{{ route.path_url }}" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	{% endfor %}


{% endblock %}