{% extends "base.html" %}
{% block content %}

<h1>Races's list</h1>
<div>
	{% for race in races %}
		{% if forloop.counter0|divisibleby:4 %}
			<div class="row">
		{% endif %}
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<!--<img src="..." alt="...">-->
				<div class="caption">
					<h3><a href="{% url "race" race.id %}">{{ race.name }}</a></h3>
					<p>@{{ race.city }}</p>
				</div>
			</div>
		</div>
		{% if forloop.counter|divisibleby:4  %}
			</div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}