<!DOCTYPE html>
<html lang="fr">
<head>
   <title>{% block title %}SuperRunner{% endblock %}</title>
   {# Load the tag library #}
   {% load bootstrap3 %}

   {# Load CSS and JavaScript #}
   {% bootstrap_css %}
   {% bootstrap_javascript %}

   {# Display django.contrib.messages as Bootstrap alerts #}
   {% bootstrap_messages %}
</head>
<body>
    <nav>
       {% block nav %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url "home" %}">
                SuperRunner
              </a>
            </div>
          </div>
        </nav>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; SuperRunner 2017</footer>
</body>
</html>